<div class="ui-block">
  <h3 class="ui-block-heading">ngx-markdown-editor</h3>
  <a target="_blank" href="https://github.com/lon-yang/ngx-markdown-editor" class="ui-block-description">https://github.com/lon-yang/ngx-markdown-editor</a>

  <div class="alert alert-warning rtl-only mt-5">
    ngx-markdown-editor does not support RTL mode.
  </div>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example">
    <md-editor name="Content" [(ngModel)]="markdownText" [height]="'400px'" required maxlength="500"></md-editor>
  </div>
</div>
