nav.navbar.navbar-expand-lg.align-items-lg-center.container-p-x.bg-str{
  background-color: #961962;
}
nav.navbar.navbar-expand-lg.align-items-lg-center.container-p-x.bg-navbar-theme{
  /* background-color: #961962!important;
  color:white!important; */
}
nav.navbar.navbar-expand-lg.align-items-lg-center.container-p-x.bg-navbar-theme *{

  /* color:white!important; */
}
span.app-brand-logo.demo.logostr{
  width: 90%;
border-radius: 0;
}
