.sidenav.sidenav-vertical.bg-sidenav-theme{background-color: #961962!important;}
/* .sidenav.sidenav-vertical.bg-sidenav-theme * {background-color: #961962!important;color:white!important;} */
.bg-sidenav-theme .sidenav-item .sidenav-link,
.bg-sidenav-theme .sidenav-link,
.bg-sidenav-theme .sidenav-horizontal-prev,
/* .bg-sidenav-theme .sidenav-horizontal-next{color:white!important;} */

div.app-brand.demo{

  background-color:white;
  color:black;
}
/* img.img-logoStr{width:60%;} */
