<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Tablas /</span> con acciones y filtrados
</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <ng2-smart-table [settings]="settings" [source]="source" class="table-responsive"></ng2-smart-table>

  <!-- Within card -->

  <!-- <div class="card">
    <h6 class="card-header">
      Sin cabeceras
    </h6>
    <div class="card-ng2-smart-table table-responsive">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </div>
  </div> -->
</div>
