<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">

    <!-- Side container -->
    <!-- Do not display the container on extra small, small and medium screens -->
    <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('assets/img/bg/21.jpg');">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>

      <!-- Text -->
      <div class="w-100 text-white px-5">
        <h1 class="display-2 font-weight-bolder mb-4">PORTAL<br>OPERATIVO</h1>
        <div class="text-large font-weight-light">
          Bienvenido al Portal operativo de Strategying. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <!-- /.Text -->
    </div>
    <!-- / Side container -->

    <!-- Form container -->
    <div class="d-flex col-lg-4 align-items-center bg-white p-5">
      <!-- Inner container -->
      <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
        <div class="w-100">

          <!-- Logo -->
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <div class="w-100 position-relative">
        <img src="assets/img/logostr.png" alt="" class="img-logoStr"/>

              </div>
            </div>
          </div>
          <!-- / Logo -->

          <!-- Form -->
          <form class="my-5">
            <button type="button" class="btn btn-primary btn-block">Iniciar sesión</button>
          </form>
          <!-- / Form -->

        </div>
      </div>
    </div>
    <!-- / Form container -->

  </div>
</div>
