<div class="ui-block">
  <h3 class="ui-block-heading">Cards</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <div class="card" style="max-width: 20rem;">
      <img class="card-img-top" src="assets/img/bg/2.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Content types</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            This is some text within a card block.
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <div class="card-subtitle text-muted mb-3">Card subtitle</div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="javascript:void(0)" class="card-link">Card link</a>
            <a href="javascript:void(0)" class="card-link">Another link</a>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <img class="card-img-top" src="assets/img/bg/3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Mixed</h4>

  <div class="cui-example">
    <div class="card" style="max-width: 20rem;">
      <img class="card-img-top" src="assets/img/bg/4.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="javascript:void(0)" class="card-link">Card link</a>
        <a href="javascript:void(0)" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Header and footer</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <h4 class="card-header">Featured</h4>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card text-center mb-3">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Text alignment</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-lg">

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-lg">

        <div class="card text-center mb-3">
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-lg">

        <div class="card text-right mb-3">
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Navigation</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-md">

        <div class="card text-center mb-3">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-responsive-md">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card text-center mb-3">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills nav-responsive-md">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading material-style-only">Light navigation (Material only)</h4>

  <div class="cui-example material-style-only">
    <div class="row">
      <div class="col-md">

        <div class="card text-center mb-3">
          <div class="card-header bg-primary border-0">
            <ul class="nav nav-tabs md-tabs-light card-header-tabs nav-responsive-md">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card text-center mb-3">
          <div class="card-header bg-primary border-0">
            <ul class="nav nav-pills md-pills-light card-header-pills nav-responsive-md">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Images</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-lg">

        <div class="card mb-3">
          <img class="card-img-top" src="assets/img/bg/5.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
      <div class="col-lg">

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img class="card-img-bottom" src="assets/img/bg/1.jpg" alt="Card image cap">
        </div>

      </div>
      <div class="col-lg">

        <div class="card bg-dark border-0 text-white">
          <img class="card-img" src="assets/img/bg/2.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Condenced</h4>

  <div class="cui-example">
    <div class="card card-condenced" style="max-width: 20rem;">
      <div class="card-header">
        Card header
      </div>
      <img class="card-img-top" src="assets/img/bg/3.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="javascript:void(0)" class="card-link">Card link</a>
        <a href="javascript:void(0)" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Style variations</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-md">

        <div class="card bg-primary text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-secondary text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-success text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Success card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card bg-danger text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Danger card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-warning text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Warning card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-info text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Info card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card bg-dark text-white mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Outline -->
    <div class="row">
      <div class="col-md">

        <div class="card bg-transparent border-primary mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-transparent border-secondary mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-transparent border-success mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Success card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card bg-transparent border-danger mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Danger card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-transparent border-warning mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Warning card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card bg-transparent border-info mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Info card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card bg-transparent border-dark mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Hover cards</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-lg">

        <div class="card card-hover mb-3">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-lg">

        <div class="card card-hover bg-primary text-white mb-3">
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-lg">

        <div class="card card-hover bg-transparent border-primary mb-3 box-shadow-none">
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">With elements</h4>

  <div class="cui-example">
    <div class="row">
      <div class="col-md">

        <div class="card mb-3">
          <!-- Add `.with-elements` to the parent `.card-header` element -->
          <div class="card-header with-elements">
            <span class="card-header-title mr-2">Card header</span>
            <div class="card-header-elements">
              <span class="badge badge-outline-success">20</span>
              <span class="badge badge-primary badge-pill">12</span>
            </div>
            <div class="card-header-elements ml-md-auto">
              <span class="badge badge-outline-success">20</span>
              <span class="badge badge-primary badge-pill">12</span>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title with-elements">
              <h5 class="m-0 mr-2">Card title</h5>
              <div class="card-title-elements">
                <span class="badge badge-outline-success">20</span>
                <span class="badge badge-primary badge-pill">12</span>
              </div>
              <div class="card-title-elements ml-md-auto">
                <span class="badge badge-outline-success">20</span>
                <span class="badge badge-primary badge-pill">12</span>
              </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <!-- Add `.with-elements` to the parent `.card-header` element -->
          <div class="card-header with-elements">
            <span class="card-header-title mr-2">Card header</span>
            <div class="card-header-elements">
              <button type="button" class="btn btn-xs btn-outline-primary"><span class="ion ion-md-add"></span> Add</button>
              <button type="button" class="btn icon-btn btn-xs btn-success"><span class="ion ion-md-cloud-download"></span></button>
            </div>
            <div class="card-header-elements ml-md-auto">
              <button type="button" class="btn btn-xs btn-outline-primary"><span class="ion ion-md-add"></span> Add</button>
              <button type="button" class="btn icon-btn btn-xs btn-success"><span class="ion ion-md-cloud-download"></span></button>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title with-elements">
              <h5 class="m-0 mr-2">Card title</h5>
              <div class="card-title-elements">
                <button type="button" class="btn btn-xs btn-outline-primary"><span class="ion ion-md-add"></span> Add</button>
                <button type="button" class="btn icon-btn btn-xs btn-success"><span class="ion ion-md-cloud-download"></span></button>
              </div>
              <div class="card-title-elements ml-md-auto">
                <button type="button" class="btn btn-xs btn-outline-primary"><span class="ion ion-md-add"></span> Add</button>
                <button type="button" class="btn icon-btn btn-xs btn-success"><span class="ion ion-md-cloud-download"></span></button>
              </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <!-- Add `.with-elements` to the parent `.card-header` element -->
          <div class="card-header with-elements">
            <span class="card-header-title mr-2">Card header</span>
            <div class="card-header-elements">
              <select class="custom-select custom-select-sm w-auto">
                <option selected="">1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <input type="text" class="form-control form-control-sm" placeholder="Search" style="width:50px">
              <label class="switcher switcher-sm mr-0">
                <input type="checkbox" class="switcher-input">
                <span class="switcher-indicator">
                  <span class="switcher-yes"></span>
                  <span class="switcher-no"></span>
                </span>
              </label>
            </div>
            <div class="card-header-elements ml-md-auto">
              <select class="custom-select custom-select-sm w-auto">
                <option selected="">1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <input type="text" class="form-control form-control-sm" placeholder="Search" style="width:50px">
              <label class="switcher switcher-sm mr-0">
                <input type="checkbox" class="switcher-input">
                <span class="switcher-indicator">
                  <span class="switcher-yes"></span>
                  <span class="switcher-no"></span>
                </span>
              </label>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title with-elements">
              <h5 class="m-0 mr-2">Card title</h5>
              <div class="card-title-elements">
                <select class="custom-select custom-select-sm w-auto">
                  <option selected="">1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <input type="text" class="form-control form-control-sm" placeholder="Search" style="width:50px">
                <label class="switcher switcher-sm mr-0">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                </label>
              </div>
              <div class="card-title-elements ml-md-auto">
                <select class="custom-select custom-select-sm w-auto">
                  <option selected="">1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <input type="text" class="form-control form-control-sm" placeholder="Search" style="width:50px">
                <label class="switcher switcher-sm mr-0">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                </label>
              </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <!-- Add `.with-elements` to the parent `.card-header` element -->
          <div class="card-header with-elements">
            <span class="card-header-title mr-2">Card header</span>
            <div class="card-header-elements">
              <span class="text text-muted"><small>Some TEXT</small></span>
              <span class="ion ion-md-star"></span>
            </div>
            <div class="card-header-elements ml-md-auto">
              <span class="text text-muted"><small>Some TEXT</small></span>
              <span class="ion ion-md-star"></span>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title with-elements">
              <h5 class="m-0 mr-2">Card title</h5>
              <div class="card-title-elements">
                <span class="text text-muted"><small>Some TEXT</small></span>
                <span class="ion ion-md-star"></span>
              </div>
              <div class="card-title-elements ml-md-auto">
                <span class="text text-muted"><small>Some TEXT</small></span>
                <span class="ion ion-md-star"></span>
              </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="w-100"></div>
      <div class="col-md">

        <div class="card mb-3">
          <!-- Add `.with-elements` to the parent `.card-header` element -->
          <div class="card-header with-elements">
            <span class="card-header-title mr-2">Card header</span>
            <div class="card-header-elements">
              <ul class="pagination pagination-sm mb-0">
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              </ul>
              <div class="progress" style="height: 6px;width: 50px;">
                <div class="progress-bar" style="width: 60%;"></div>
              </div>
            </div>
            <div class="card-header-elements ml-md-auto">
              <ul class="pagination pagination-sm mb-0">
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              </ul>
              <div class="progress" style="height: 6px;width: 50px;">
                <div class="progress-bar" style="width: 60%;"></div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title with-elements">
              <h5 class="m-0 mr-2">Card title</h5>
              <div class="card-title-elements">
                <ul class="pagination pagination-sm mb-0">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                </ul>
                <div class="progress" style="height: 6px;width: 50px;">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
              </div>
              <div class="card-title-elements ml-md-auto">
                <ul class="pagination pagination-sm mb-0">
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                </ul>
                <div class="progress" style="height: 6px;width: 50px;">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
              </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, idque nostro eirmod qui at.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Card groups</h4>

  <div class="cui-example">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/4.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/5.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Card decks</h4>

  <div class="cui-example">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/3.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/4.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Card columns</h4>

  <div class="cui-example">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/5.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <blockquote class="blockquote card-body mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/bg/1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card bg-primary text-center text-white">
        <blockquote class="blockquote card-body mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer text-white opacity-75">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="assets/img/bg/2.jpg" alt="Card image">
      </div>
      <div class="card text-right">
        <blockquote class="blockquote card-body mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
