<div class="ui-block">
  <h3 class="ui-block-heading">ng-select</h3>
  <a target="_blank" href="https://github.com/basvandenberg/ng-select" class="ui-block-description">https://github.com/basvandenberg/ng-select</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select
      placeholder="Select state"
      [allowClear]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="singleSelectValue">
    </ng-select>

    <ng-select
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <pre>Single value: {{ singleSelectValue | json }}</pre>
    <pre>Multiple value: {{ multipleSelectValue | json }}</pre>

    <button class="btn" [class.btn-outline-danger]="disabled" [class.btn-outline-success]="!disabled" (click)="disabled = !disabled">
      {{ disabled ? "Disabled" : "Enabled"}}
    </button>

    <!-- Variants -->

    <ng-select class="ng-select-primary"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-secondary"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-success"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-info"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-warning"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-danger"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <ng-select class="ng-select-dark"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <!-- Validation states -->

    <!-- Valid -->
    <ng-select class="is-valid"
      placeholder="Select state"
      [allowClear]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="singleSelectValue">
    </ng-select>
    <ng-select class="is-valid"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>

    <!-- Invalid -->
    <ng-select class="is-invalid"
      placeholder="Select state"
      [allowClear]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="singleSelectValue">
    </ng-select>
    <ng-select class="is-invalid"
      placeholder="Select state"
      [multiple]="true"
      [disabled]="disabled"
      [options]="selectOptions"
      [(ngModel)]="multipleSelectValue">
    </ng-select>
  </div>
</div>
